*{
	box-sizing: border-box;
}

body{
	background-color: #ff9900;
}

.admin-body{
	background-color: #f1f1f1;
	font-family: 'Montserrat', sans-serif;
}

a:hover, a:focus{
	text-decoration: none;
}

#header-order-menu{
	margin-top: 60px;
}
/*center the logo*/
#logo-img{ 
	margin-right: auto;
	margin-left: auto;
}

/* Welcome to Ate Yema's */
.title-header{
	font-family: 'Pacifico', cursive;
	color: #ff3333;
	text-shadow: 2px 2px #ffffff;
}

.affix{
	bottom: 0;
	width: 100%;
}

#order-row{
	margin-left: 0px;
	margin-right: 0px;
}

.form-tile{
	margin-top: 100px;
	margin-bottom: 30px;
}

.order-tile{
	margin-top: 30px;
	margin-bottom: 30px;
}

#order-content, #payment-content, #details-content, #order-receipt, #header-nav, 
#link-to-order, .panel, .section-content, #admin-login-form{
	font-family: 'Montserrat', sans-serif;
}

#order-content, #payment-content, #details-content, #order-receipt, .section-content, #admin-login-form{
	background-color: #ffffff;
	color: #ff3333;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	border: 1px solid #ff3333;
	box-shadow: 0 0 20px #000000;
}

.section-content{
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
}

#header-nav{
	border-radius: 0px;
}

#order-content section{
	padding: 10px 10px 10px 10px;
}

#order-content section>div{
	position: relative;
	width: 100%;
	text-align: center;
}

.product-title{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
	background-color: #000000;
	color: #ffffff;
	opacity: .7;
}

.form-group{
	margin-top: 10px;
}

.col-align{
	text-align: left;
}

.btn-width{
	width: 100%;
}

#cart-row, #login-box{
	margin-top: 150px;
}

/****** ORDER MENU LINK FROM LOGIN ******/

#link-to-order{
	text-decoration: none;
	color: #ffffff;
	margin-top: 50px;
}

#link-to-order:hover, #link-to-order:focus{
	color: #ff3333;
}

/****** END ******/

/****** ORDER SUMMARY ******/

#remarks-description, #receipt-description{
	font-size: 80%;
}

.row-receipt{
	padding-left: 15px;
	padding-right: 15px;
}

/****** END OF ORDER SUMMARY ******/

/****** LOGIN ******/
.panel {
  border-radius: 5px;
  border: none;
}

.panel-default>.panel-heading {
  color: #848c9d;
  background-color: #e8e9ec;
  border-color: #fff;
  text-align:center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  padding: 0px 15px;
}

.panel-default>.panel-body {
	padding: 30px 30px 0px 30px;
}

.panel-default>.panel-heading .tabs{
  padding: 0;
}

.panel-default>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.panel-default>.panel-heading .login {
  padding: 20px 30px;
  border-top-left-radius: 5px;
}
.panel-default>.panel-heading .register {
  padding: 20px 30px;
  background: #2d3b55;
  border-top-right-radius: 5px;
}

.panel-default>.panel-heading a#register-link {
  color: #fff;
  width: 100%;
  text-align: right;
}

.panel-default>.panel-heading a#login-link {
  width: 100%;
  text-align: left;
}

/****** END OF LOGIN ******/

/******CART******/

.title-headers{
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 10px;
}

.cart-table{
	color: #1a1a1a;
}

.cart-table>tbody>tr>td{
	border-top: none;
}

thead>tr>th{
	border-bottom: none;
}

thead{
	background-color: #ff3333;
	color: #ffffff;
}

.total-label{
	font-size: 1.2em;
	font-style: bold;
}

.cart-price{
	font-size: 1.2em;
}

#cart-row>section:nth-child(2) div>.btn{
	padding: 6px 0px;
	font-size: 120%;
}

/* top margin for 'Proceed to Checkout' button */
#cart-row>section:nth-child(2) .row div:nth-child(3){
	margin-top: 20px;
}

/****** END OF CART ******/

/****** ADMIN LOGIN ******/

#admin-login-form{
	padding: 5px 30px;
}

/****** END OF ADMIN LOGIN ******/

/***** ADMIN NAVBAR ******/

.admin-body .navbar-default{
	background-color: #ff9900;
}
.admin-body .navbar-default .navbar-nav>li>a{
	color: #ffffff;
}

/***** END OF ADMIN NABVAR ******/

/****** DASHBOARD ******/
.navbar-brand{
	padding: 0;
	height: inherit;
}

.dashboard-section{
	background-color: #ffffff;
	color: #0a0a0a;
	padding: 25px;
	margin-bottom: 20px;
}

#admin-content{
	margin-top: 80px;
}

.link-tiles>.tiles{
	background-color: #ff9900;
	border-radius: 5px;
	border: 2px solid #ff9900;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.tiles:hover, .tiles:focus{
	box-shadow: 0 0 20px #000000;
}

#filter-order{
	text-align: center;
}
/****** END OF DASHBOARD ******/

@media(max-width: 500px){
	#logo-img{
		width: 150px;
		height: 153px;
	}

	.title-header{
		font-size: 7vw;
	}

	.price, label, .btn, .row-receipt span, .total-label, #link-to-order, #forgot-link{
		font-size: 3.5vw;
	}

	.form-control{
		font-size: 10px;
	}

	.col-xxs-12, .col-xxs-6{
	    position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    float: left;
	}

	.col-xxs-12{
	    width: 100%;
	}

	.col-xxs-6{
	    width: 50%;
	}

}

@media(max-width: 767px){
	#logo-img{
		width: 190px;
		height: 193px;
	}

	#title-order-form{
		font-size: 5vw;
	}
}

@media(min-width: 768px){
	.navbar-nav>li>a{
		padding-top: 20px;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	#logo-img{
		width: 220px;
		height: 223px;
	}
}

@media(min-width: 992px) and (max-width: 1199px){

}

@media(min-width: 1200px){

}